src/nebulous/conquest/data/schema/schema-definition.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Fleet">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Name"/>
        <xs:element type="xs:byte" name="Version"/>
        <xs:element type="xs:short" name="TotalPoints"/>
        <xs:element type="xs:string" name="FactionKey"/>
        <xs:element name="Ships">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Ship" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="SaveID"/>
                    <xs:element type="xs:string" name="Key"/>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:short" name="Cost"/>
                    <xs:element type="xs:string" name="Callsign"/>
                    <xs:element type="xs:byte" name="Number"/>
                    <xs:element type="xs:byte" name="SymbolOption"/>
                    <xs:element type="xs:string" name="HullType"/>
                    <xs:element name="SocketMap">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="HullSocket" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Key"/>
                                <xs:element type="xs:string" name="ComponentName"/>
                                <xs:element name="ComponentData" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="MissileLoad" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="MagSaveData" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="MagazineKey"/>
                                                  <xs:element type="xs:string" name="MunitionKey"/>
                                                  <xs:element type="xs:byte" name="Quantity"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="ConfiguredSize" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:byte" name="x"/>
                                            <xs:element type="xs:byte" name="y"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Load" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="MagSaveData" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="MagazineKey"/>
                                                  <xs:element type="xs:string" name="MunitionKey"/>
                                                  <xs:element type="xs:short" name="Quantity"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="ComponentState">
                                  <xs:complexType>
                                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                                      <xs:element type="xs:byte" name="NextDebuffID"/>
                                      <xs:element type="xs:string" name="CycleActive"/>
                                      <xs:element type="xs:float" name="CycleTimeElapsed"/>
                                      <xs:element type="xs:string" name="AmmoSourceKey"/>
                                      <xs:element type="xs:string" name="WaitingForMuzzle"/>
                                      <xs:element type="xs:byte" name="MuzzleAccum"/>
                                      <xs:element type="xs:string" name="Reloading"/>
                                      <xs:element type="xs:float" name="ReloadAccum"/>
                                      <xs:element type="xs:byte" name="FiredCount"/>
                                      <xs:element type="xs:float" name="FiringAccum"/>
                                      <xs:element type="xs:byte" name="CooldownAccum"/>
                                      <xs:element type="xs:string" name="WaitingForCooldown"/>
                                      <xs:element type="xs:string" name="PartialFiring"/>
                                      <xs:element name="TurretState">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:float" name="TraverseAngle"/>
                                            <xs:element type="xs:float" name="ElevationAngle"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Missiles">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="MagStateData" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="MagazineKey"/>
                                                  <xs:element type="xs:byte" name="Expended"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:float" name="CellAccum"/>
                                      <xs:element name="Mags">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="MagStateData" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="MagazineKey"/>
                                                  <xs:element type="xs:byte" name="Expended"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:byte" name="RestoresConsumed"/>
                                    </xs:choice>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="WeaponGroups">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="WepGroup">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="MemberKeys">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="string" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Name" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SavedState">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Position">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="x"/>
                                <xs:element type="xs:float" name="y"/>
                                <xs:element type="xs:float" name="z"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Rotation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="x"/>
                                <xs:element type="xs:float" name="y"/>
                                <xs:element type="xs:float" name="z"/>
                                <xs:element type="xs:float" name="w"/>
                                <xs:element name="eulerAngles">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="x"/>
                                      <xs:element type="xs:float" name="y"/>
                                      <xs:element type="xs:float" name="z"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="LinearVel">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="x"/>
                                <xs:element type="xs:float" name="y"/>
                                <xs:element type="xs:float" name="z"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="AngularVel">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="x"/>
                                <xs:element type="xs:float" name="y"/>
                                <xs:element type="xs:float" name="z"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Eliminated"/>
                          <xs:element type="xs:string" name="Vaporized"/>
                          <xs:element type="xs:string" name="LaunchedLifeboats"/>
                          <xs:element name="Damage">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Parts">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="SerializedPartDamage" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="Key"/>
                                            <xs:element type="xs:string" name="Destroyed"/>
                                            <xs:element type="xs:short" name="HP"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Armor">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ArmorSection" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="Base64Mask"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CrewState">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Assignments">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Assignment" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="Key"/>
                                            <xs:element type="xs:byte" name="Remove"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Reserves">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Assignment">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="Key"/>
                                            <xs:element type="xs:byte" name="Remove"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:short" name="CurrentPressure"/>
                                <xs:element type="xs:short" name="StaticPressure"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Throttle"/>
                          <xs:element type="xs:string" name="MoveStyle"/>
                          <xs:element type="xs:string" name="FormStyle"/>
                          <xs:element type="xs:string" name="EMCON"/>
                          <xs:element type="xs:string" name="BattleShort"/>
                          <xs:element type="xs:string" name="WeaponsControl"/>
                          <xs:element name="PDState">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PDSettings">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="TurretAuto"/>
                                      <xs:element type="xs:string" name="Decoy"/>
                                      <xs:element type="xs:string" name="MissileMode"/>
                                      <xs:element type="xs:byte" name="MissileSalvoCount"/>
                                      <xs:element type="xs:string" name="MissileLastSalvo"/>
                                      <xs:element type="xs:byte" name="MissileSalvoSize"/>
                                      <xs:element type="xs:string" name="Zone"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="NavOrder">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Key"/>
                                <xs:element type="xs:string" name="OrderType"/>
                                <xs:element name="Path" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Vector3" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:float" name="x"/>
                                            <xs:element type="xs:float" name="y"/>
                                            <xs:element type="xs:float" name="z"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:byte" name="WaypointIndex" minOccurs="0"/>
                                <xs:element type="xs:string" name="GuideKey" minOccurs="0"/>
                                <xs:element name="TruePos" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="x"/>
                                      <xs:element type="xs:float" name="y"/>
                                      <xs:element type="xs:float" name="z"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="RelativePos" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="x"/>
                                      <xs:element type="xs:float" name="y"/>
                                      <xs:element type="xs:float" name="z"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="HoldHeading" nillable="true"/>
                          <xs:element type="xs:string" name="HoldUp" nillable="true"/>
                          <xs:element name="Orders">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SavedOrderTask" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Key"/>
                                      <xs:element type="xs:string" name="OrderType"/>
                                      <xs:element type="xs:string" name="WeaponGroup" minOccurs="0"/>
                                      <xs:element name="Target" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:short" name="ID" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Targets" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="TrackIdentifier" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:short" name="ID" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="Dogleg" minOccurs="0" nillable="true"/>
                                      <xs:element type="xs:float" name="DelayAccum" minOccurs="0"/>
                                      <xs:element type="xs:byte" name="TotalTargets" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="BulkComponents">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ComponentState">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="TrackedBy">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Record">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="Team"/>
                                                  <xs:element name="ID">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute type="xs:short" name="ID" use="optional"/>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="LostContactPosition">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:float" name="x"/>
                                                        <xs:element type="xs:float" name="y"/>
                                                        <xs:element type="xs:float" name="z"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MissileTypes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MissileTemplate" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Designation"/>
                    <xs:element type="xs:string" name="Nickname"/>
                    <xs:element type="xs:string" name="Description"/>
                    <xs:element type="xs:string" name="LongDescription"/>
                    <xs:element type="xs:byte" name="Cost"/>
                    <xs:element type="xs:string" name="BodyKey"/>
                    <xs:element type="xs:string" name="TemplateKey"/>
                    <xs:element name="BaseColor">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="r"/>
                          <xs:element type="xs:float" name="g"/>
                          <xs:element type="xs:float" name="b"/>
                          <xs:element type="xs:byte" name="a"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="StripeColor">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="r"/>
                          <xs:element type="xs:float" name="g"/>
                          <xs:element type="xs:float" name="b"/>
                          <xs:element type="xs:byte" name="a"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Sockets">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MissileSocket" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="Size"/>
                                <xs:element name="InstalledComponent" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="ComponentKey"/>
                                      <xs:element type="xs:string" name="Mode" minOccurs="0"/>
                                      <xs:element type="xs:string" name="RejectUnvalidated" minOccurs="0"/>
                                      <xs:element type="xs:string" name="DetectPDTargets" minOccurs="0"/>
                                      <xs:element type="xs:string" name="Role" minOccurs="0"/>
                                      <xs:element type="xs:string" name="HotLaunch" minOccurs="0"/>
                                      <xs:element type="xs:string" name="SelfDestructOnLost" minOccurs="0"/>
                                      <xs:element type="xs:string" name="Maneuvers" minOccurs="0"/>
                                      <xs:element name="DefensiveDoctrine" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:byte" name="TargetSizeMask"/>
                                            <xs:element type="xs:string" name="TargetSizeOrdering"/>
                                            <xs:element type="xs:byte" name="SalvoSize"/>
                                            <xs:element type="xs:string" name="FarthestFirst"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="ApproachAngleControl" minOccurs="0"/>
                                      <xs:element name="BalanceValues" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:float" name="A"/>
                                            <xs:element type="xs:float" name="B"/>
                                            <xs:element type="xs:float" name="C"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>